<div class="page-header">
  <h1> Register a new TV channel</h1>
</div>
<div class="row">
  <form>
    <fieldset>
      <legend>Register new TV company</legend>
      <div class="clearfix">
        <label for="email">Email</label>
        <div class="input">
          <input class="xlarge" id="email" name="email" size="30" type="text">
        </div>
      </div>
      <div class="clearfix">
        <label for="password">Password</label>
        <div class="input">
          <input class="xlarge" id="password" name="password" size="30" type="password">
        </div>
      </div>
      <div class="clearfix">
        <label for="company">Company</label>
        <div class="input">
          <input class="xlarge" id="company" name="company" size="30" type="text">
        </div>
      </div>
      <input type="submit" class="btn primary" value="Register">
    </fieldset>
  </form>
</div>
