<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Adventure of Tintin</td>
      <td>400</td>
      <td><a class="btn">Purchase</a></td>
    </tr>
    <tr>
      <td>Adventure of Tintin</td>
      <td>400</td>
      <td><a class="btn">Purchase</a></td>
    </tr><tr>
      <td>Adventure of Tintin</td>
      <td>400</td>
      <td><a class="btn">Purchase</a></td>
    </tr><tr>
      <td>Adventure of Tintin</td>
      <td>400</td>
      <td><a class="btn">Purchase</a></td>
    </tr><tr>
      <td>Adventure of Tintin</td>
      <td>400</td>
      <td><a class="btn">Purchase</a></td>
    </tr>
  </tbody>
</table>
